@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Oficinas Centrales<br />
    Av Carlos Gonzales 754 - Urb Los Angeles - La Molina<br />
    <abbr title="Phone">P:</abbr>
    +51 584-4551
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>